
.list{width:6.4rem;border:1px solid #333;text-align:center;}
.list li{ border-bottom:1px solid #333;background:#fff; font-size:0.22rem;box-sizing:border-box; height:0.5rem; line-height:0.5rem;}
.sq01{width:1.4rem; display:block; float:left; text-align:center; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.sq02{width:1.4rem; display:block; float:left;text-align:center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.sq03{width:1.6rem; display:block; float:left;text-align:center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.sq04{width:1.8rem; display:block; float:left;text-align:center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.list li.gray {background:#eee;}

.img_row{margin:0 auto;width:0.64rem; height:0.64rem; margin-top:0.2rem;}
.img_row img{width:0.64rem; height:0.64rem;}


.wrap_passport ul li:last-child { border-bottom:none;} 


.wrap_passport_txt_xg{ height:0.6rem; margin-bottom:0.3rem;}
.xg_s select{width:4.4rem; height:0.5rem; }
.xg_s01 select{width:2.1rem; height:0.5rem; float:left; margin-right:0.2rem;}
.xg_s02 select{width:2.1rem; height:0.5rem;}